[submodule "roles/shiny-gwasMP/files"]
	path = roles/shiny-gwasMP/files
	url = https://github.com/jianyangqt/gwasMP.git
[submodule "roles/shiny-Falconer/files"]
	path = roles/shiny-Falconer/files
	url = https://github.com/CNSGenomics/falconer-shiny
[submodule "roles/shiny-abc/files"]
	path = roles/shiny-abc/files
	url = https://github.com/CNSGenomics/ABC.git
[submodule "roles/shiny-gctaPower/files"]
	path = roles/shiny-gctaPower/files
	url = https://github.com/jianyangqt/gctaPower.git
[submodule "roles/shiny-M2Tdb/files"]
	path = roles/shiny-M2Tdb/files
	url = https://github.com/jianyangqt/M2Tdb.git
[submodule "roles/shiny-genRoc/files"]
	path = roles/shiny-genRoc/files
	url = https://github.com/CNSGenomics/genRoc.git
[submodule "roles/shiny-mRnd/files"]
	path = roles/shiny-mRnd/files
	url = https://github.com/CNSGenomics/mRnd.git
[submodule "roles/shiny-TwinPower/files"]
	path = roles/shiny-TwinPower/files
	url = https://github.com/CNSGenomics/TwinPower.git
[submodule "roles/shiny-LMOR/files"]
	path = roles/shiny-LMOR/files
	url = https://github.com/CNSGenomics/ORShiny.git
[submodule "roles/shiny-SMRdb/files"]
	path = roles/shiny-SMRdb/files
	url = https://github.com/CNSGenomics/SMRdb.git
[submodule "roles/shiny-CAGE/files"]
	path = roles/shiny-CAGE/files
	url = git@github.com:CNSGenomics/cage-shiny.git
[submodule "roles/INDI-V/files"]
	path = roles/shiny-INDI-V/files
	url = git@github.com:CNSGenomics/INDI-V.git
[submodule "roles/gcta/files"]
	path = roles/gcta/files
	url = git@github.com:jianyangqt/gcta2_doc.git
[submodule "roles/smr/files"]
	path = roles/smr/files
	url = git@github.com:jianyangqt/smr_doc.git
